<!-- _Layout.cshtml -->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Your head content -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Finals</title>

    <link rel="stylesheet" type="text/css" href="~/css/homepage.module.css" />
    <link rel="stylesheet" type="text/css" href="~/css/guestracker.module.css" />
</head>

<body>
    <header>
        <div class="navbar">
            <div class="controller">
                <!-- Add the "Swift Hotel" link -->
                <a id="swiftHotelLink" href="@Url.Action("Index", "Home")">Swift Hotel</a>


                <a id="guestTrackerLink" href="@Url.Action("Tracker", "Home")">Guest Tracker</a>

                <!-- Display username when logged in -->
                @if (User.Identity.IsAuthenticated)
                {
                            <a id="loginLink" href="@Url.Action("Login", "User")">@User.Identity.Name</a>
                }
                else
                {
                            <a id="loginLink" href="@Url.Action("Login", "User")">Login</a>
                }
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
