<!-- _Layout.cshtml -->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Your head content -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Finals</title>

    <link rel="stylesheet" type="text/css" href="~/css/homepage.module.css" />
    <link rel="stylesheet" type="text/css" href="~/css/guestracker.module.css" />
</head>
<body>
    <header>
        <div class="navbar">
            <div class="controller">
                <!-- Add the "Swift Hotel" link -->
                <a id="swiftHotelLink" href="@Url.Action("Index", "Home")">Swift Hotel</a>

                <a id="guestTrackerLink" href="@Url.Action("Tracker", "Home")">Guest Tracker</a>

                @* <a id="FAQsLink" href="@Url.Action("FAQs", "Home")">FAQs</a> *@

                <!-- Display username when logged in -->
                @if (User.Identity.IsAuthenticated)
                {
                            <a id="loginLink" href="@Url.Action("Login", "User")">@User.Identity.Name</a>
                }
                else
                {
                            <a id="loginLink" href="@Url.Action("Login", "User")">Login</a>
                }
                <a id="backButton" href="javascript:history.go(-1);" style="float: left; margin-right: 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left"
                         width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="5" y1="12" x2="11" y2="18" />
                        <line x1="5" y1="12" x2="11" y2="6" />
                    </svg>
                </a>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
