<!-- UpdatedBookingInfo.cshtml -->
@model Bookings;


<link rel="stylesheet" type="text/css" href="~/css/updatingBooking.module.css" />
<div class="ss">
    <!-- Your HTML content for the Booking view goes here -->
    @if (Model != null)
    {
        <div class="section">

            <h1>Booking Details</h1>
            <p>Start Date: @Model.StartDate.ToString("MMMM dd, yyyy")</p>
            <p>End Date: @Model.EndDate.ToString("MMMM dd, yyyy")</p>
            <p>Pax: @Model.Pax</p>
        </div>
    }
    else
    {
        <p>No booking details available.</p>
    }
</div>

<div class="form">
    <form>
        <h2 class="formTitle">Personal Information</h2>
        <p>Booking ID: @Model.Id</p>
        <div class="fullname">
            <p>Fullname: @Model.FirstName @Model.LastName</p>
        </div>
        <p>Email: @Model.Email</p>
        <p>Phone Number: @Model.PhoneNumber</p>
        <p>Citizenship: @Model.Citizenship</p>
        <p>Room Type: @Model.RoomType</p>
    </form>
</div>