@model Booking


<link rel="stylesheet" type="text/css" href="~/css/updatingBooking.module.css" />
<div class="ss">
    <!-- Your HTML content for the Booking view goes here -->
    @if (Model != null)
    {
        <div class="section">

            <h1>Booking Details</h1>
            <p>Start Date: @Model.StartDate</p>
            <p>End Date: @Model.EndDate</p>
            <p>Pax: @Model.Pax</p>
        </div>
    }
    else
    {
        <p>No booking details available.</p>
    }
</div>

<div class="form">
    <form>
        <h2>Personal Information</h2>

        <p>First Name: @Model.FirstName</p>
        <p>Last Name: @Model.LastName</p>
        <p>Email: @Model.Email</p>
        <p>Phone Number: @Model.PhoneNumber</p>
        <p>Citizenship: @Model.Citizenship</p>
        <p>Room Type: </p>
    </form>
</div>