@model IEnumerable<Finals.Models.Bookings>;
@using Finals.Services;
@inject BookingService _bookingService;
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    List<Bookings> bookings = _bookingService.GetBookings(100, includeArchived: false);

}


<div class="adminContainer">
    <div class="profit">
        <div class="revenue">
            <h2>Revenue</h2>
            <div class="revenueContainer">
                <div class="box">
                    <h2>Standard Room</h2>
                    <span>@bookings.Count(i => i.RoomType.HasFlag(RoomType.Standard))</span>
                </div>
                <div class="box">
                    <h2>Deluxe</h2>
                    <span>@bookings.Count(i => i.RoomType.HasFlag(RoomType.Deluxe))</span>
                </div>
                <div class="box">
                    <h2>Supreme</h2>
                    <span>@bookings.Count(i => i.RoomType.HasFlag(RoomType.Supreme))</span>
                </div>
                <div class="box" <h2>Suite</h2>
                    <span>@bookings.Count(i => i.RoomType.HasFlag(RoomType.Suite))</span>
                </div>
                <div class="box">
                    <h2>Family</h2>
                    <span>@bookings.Count(i => i.RoomType.HasFlag(RoomType.Family))</span>
                </div>
            </div>
        </div>
    </div>
    <div class="customer">
        <h2>New Customer</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Check-In</th>
                    <th>Check-Out</th>
                    <th>Room Type</th>
                    <th>Pax</th>
                    <th>Nationality</th>
                    <th>Contact No.</th>
                </tr>
            </thead>
            <tbody>
                @{
                    @foreach (var elements in bookings)
                    {
                        <tr>
                            <td>@elements.FirstName @elements.LastName</td>
                            <td>@elements.StartDate.ToString("MMM dd")</td>
                            <td>@elements.EndDate.ToString("MMM dd")</td>
                            <td>@elements.RoomType</td>
                            <td>@elements.Pax</td>
                            <td>@elements.Citizenship</td>
                            <td>@elements.PhoneNumber</td>
                        </tr>
                    };
                }
            </tbody>
        </table>
    </div>
</div>