@* @Model Bookings *@
@using Finals.Services;
@inject BookingService _bookingService;

@{
    ViewData["Title"] = "Archive";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    List<Bookings> archives = _bookingService.GetBookings(100);
}
<div class="archiveContainer">
<table>
    <thead>
            <tr>
                <th>Booking ID</th>
                <th>Fullname</th>
                <th>Email</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Room</th>
                <th>
                    Action
                </th>
            </tr>
    </thead>
    <tbody>
      @{
           @foreach (var booking in archives)
            {
            <tr>
            <td> @booking.Id </td>
            <td> @booking.FirstName @booking.LastName </td>
            <td> @booking.Email </td>
            <td> @booking.StartDate </td>
            <td> @booking.EndDate </td>
            <td> @booking.RoomType </td>
            </tr>
            }
      }
    </tbody>
</table>
</div>