@* @Model Bookings *@
@using Finals.Services;
@inject BookingService _bookingService;

@{
    ViewData["Title"] = "Archive";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    List<Bookings> archives = _bookingService.GetBookings(100, includeArchived: true);
}
<div class="archiveContainer">
    <table>
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Fullname</th>
                <th>Email</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Room</th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                @foreach (var booking in archives.Where(b => b.ArchiveStatus))
                {
                    <tr>
                        <td> @booking.Id </td>
                        <td> @booking.FirstName @booking.LastName </td>
                        <td> @booking.Email </td>
                        <td> @booking.StartDate.ToString("MMM dd") </td>
                        <td> @booking.EndDate.ToString("MMM dd") </td>
                        <td> @booking.RoomType </td>
                        <td>
                            <button><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-archive-off"
                                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M8 4h11a2 2 0 1 1 0 4h-7m-4 0h-3a2 2 0 0 1 -.826 -3.822" />
                                    <path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 1.824 -1.18m.176 -3.82v-7" />
                                    <path d="M10 12h2" />
                                    <path d="M3 3l18 18" />
                                </svg></button>
                            <button>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24"
                                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M4 7l16 0" />
                                    <path d="M10 11l0 6" />
                                    <path d="M14 11l0 6" />
                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>