@* @Model Bookings *@
@using Finals.Services;
@inject BookingService _bookingService;

@{
    ViewData["Title"] = "Archive";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    List<Bookings> archives = _bookingService.GetBookings(100, includeArchived: true);
}
<div class="archiveContainer">
    <table>
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Fullname</th>
                <th>Email</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Room</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var booking in archives.Where(b => b.ArchiveStatus))
                {
                    <tr>
                        <td> @booking.Id </td>
                        <td> @booking.FirstName @booking.LastName </td>
                        <td> @booking.Email </td>
                        <td> @booking.StartDate.ToString("MMM dd") </td>
                        <td> @booking.EndDate.ToString("MMM dd") </td>
                        <td> @booking.RoomType </td>
                        <td>
                            <form method="post" asp-action="UpdateArchiveStatus" asp-controller="Booking">
                                <input type="hidden" name="bookingId" value="@booking.Id" />
                                <button type="submit" name="status" value="2">Unarchive</button>
                            </form>
                            <form method="post" asp-action="DeleteBooking" asp-controller="Booking">
                                <input type="hidden" name="bookingId" value="@booking.Id" />
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
