@page
@model User

@{
    ViewBag.Title = "StandardRoom";
}

<link rel="stylesheet" type="text/css" href="~/css/room.module.css" />
<div class="main">
    <div class="focusContainer">
        <div class="fc">
            <h2>Standard Room</h2>
            <p>
                a luxurious retreat nestled in the heart of the city, offering a seamless blend of modern elegance and
                timeless
                charm. With its sophisticated decor, impeccable service, and state-of-the-art amenities, guests are
                treated
                to
                an indulgent experience that reflects the epitome of comfort and style.
            </p>
        </div>
    </div>
    <div class="bookingContainer">
        <form id="bookingForm" action="@Url.Action("SaveBooking", "Booking")" method="post">
            <div class="startDate">
                <label>Start Date</label>
                <input type="date" id="myStartInputDate" name="StartDate" />
            </div>
            <div class="endDate">
                <label>End Date</label>
                <input type="date" id="myEndInputDate" name="EndDate" />
            </div>
            <div class="pax">
                <label>Pax</label>
                <input type="number" id="enterPax" name="Pax" />
            </div>
            @Html.AntiForgeryToken()
            <button type="submit">Book Now</button>
        </form>
    </div>

</div>

<div class="about">
    <div class="title">
    </div>
    <div class="aboutContainer">
        <div class="imageContainer">
            <img src="@Url.Content("../images/bgabout.jpg")" height="700px" width="100%" />
        </div>
        <div>
            <div class="detachContainer">
                <h2>Unwind in Style, Where Every Stay is a Symphony of Comfort and Convenience</h2>
                <p>
                    Discover a realm of convenience and sophistication with our range of exceptional amenities. Immerse
                    yourself in the tranquility of our lush swimming pool area, a haven of relaxation where the world's
                    worries fade away. Enjoy seamless connectivity with high-speed Wi-Fi throughout the property,
                    keeping
                    you in touch with the outside world even as you revel in the hotel's opulent surroundings. Swift
                    Hotel's
                    commitment to comfort is further exemplified by our complimentary parking, providing a stress-free
                    experience from the moment you arrive. Whether you're seeking a serene escape or a productive
                    sanctuary,
                    Swift Hotel promises an unparalleled journey into luxury.
                </p>
                <button>Book Now</button>
            </div>
        </div>
    </div>
</div>

<div class="roomType">
    <div class="title">
        <h2>Exlusive Gateway Offers</h2>
        <p>
            Experience unparalleled luxury and tranquility in our meticulously designed rooms at Swift Hotel, where
            every detail is crafted to elevate your stay into a seamless blend of comfort and sophistication.
        </p>
    </div>
    <div class="roomContainer">
        <div class="box">
            <img src="@Url.Content("../images/room1.jpg")"
                 style="object-fit: cover; width: 380px; height: 250px; object-position: center;" />
            <div class="night">
                <span>Standard Room</span>
                <span>
                    @string.Format("₱{0:N2}", 2400)/night
                </span>
            </div>
        </div>
        <div class="box">
            <img src="@Url.Content("../images/room2.jpg")"
                 style="object-fit: cover; width: 380px; height: 250px; object-position: center;" />
            <div class="night">
                <span>Deluxe Room</span>
                <span>
                    @string.Format("₱{0:N2}", 2400)/night
                </span>
            </div>
        </div>
        <div class="box">
            <img src="@Url.Content("../images/room3.jpg")"
                 style="object-fit: cover; width: 380px; height: 250px; object-position: center;" />
            <div class="night">
                <span>Supreme Room</span>
                <span>
                    @string.Format("₱{0:N2}", 2400)/night
                </span>
            </div>
        </div>
        <div class="box">
            <img src="@Url.Content("../images/room4.jpg")"
                 style="object-fit: cover; width: 380px; height: 250px; object-position: center;" />
            <div class="night">
                <span>Standard Room</span>
                <span>
                    @string.Format("₱{0:N2}", 2400)/night
                </span>
            </div>
        </div>
        <div class="box">
            <img src="@Url.Content("../images/room5.jpg")"
                 style="object-fit: cover; width: 380px; height: 250px; object-position: center;" />
            <div class="night">
                <span>Family Room</span>
                <span>
                    @string.Format("₱{0:N2}", 2400)/night
                </span>
            </div>
        </div>
    </div>
</div>

<div class="faqss">
    <div class="title">
        <h2>Frequently Asked Questions</h2>
    </div>
    <div class="faqsFlexContainer">
        <div class="faqsCard">
            <h2>Can I see photos of the hotel rooms before booking?</h2>
            <p>Yes, each hotel listing includes photos and detailed information about the rooms and amenities.</p>
        </div>
        <div class="faqsCard">
            <h2>Are the prices on Swift Hotel per person or per room?</h2>
            <p>
                Prices are generally per room, per night. The number of guests included in the price is specified
                during the booking process.
            </p>
        </div>
        <div class="faqsCard">
            <h2>Do hotels on Swift Hotel include breakfast?</h2>
            <p>
                Some hotels offer complimentary breakfast, while others may charge an additional fee. Check the hotel
                details for this information.
            </p>
        </div>
        <div class="faqsCard">
            <h2>How do I contact Swift Hotel customer support?</h2>
            <p>
                Visit our "Contact Us" page for information on reaching our customer support team via email or phone.
            </p>
        </div>
        <div class="faqsCard">
            <h2>What do I do if I encounter issues during the booking process?</h2>
            <p>Contact our customer support for assistance, and we'll be happy to help you resolve any issues.</p>
        </div>
        <div class="faqsCard">
            <h2>
                Are there any special promotions or discounts available?
            </h2>
            <p>
                Check our website regularly for promotions, and subscribe to our newsletter to receive exclusive
                offers.
            </p>
        </div>
    </div>
</div>